---
import Layout from "@/layouts/Layout.astro";
import PlaygroundComponent from "@/components/Playground";
---

<Layout>
    <div class="min-h-screen">
        <!-- Mount React component -->
        <PlaygroundComponent client:load />
    </div>
</Layout>
